
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 19px;
  color: #ffffff;
  overflow-x: hidden;
  background: #25332e;
  text-align: justify;
}


.tm-nav-link:focus {
}

.tm-bg-dark {
  background: rgba(0, 0, 0, 0.7);
}

.tm-site-header-box {
  display: inline-block;
  padding: 40px 80px 40px 40px;
  margin: 90px 500px 100px;
}

.tm-site-title {
  font-size: 3.6rem;
  text-transform: uppercase;
}

.tm-site-subtitle {
  color: #cdffd0;
  font-size: 1.4rem;
  font-weight: 300;
}

body{
  background: url('background\ teste.jpg') center center no-repeat fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}
 /* CSS utilizado para background, black box, estilo de fonte, tamanho e alinhamento.
